<suite name = "Practico">
    <groups>
        <run>
            <include name="successTest"></include>
            <include name="failureTest"></include>
        </run>
    </groups>

    <test name="Ejercicios Testng">
        <classes>
            <class name="Básico.Clase4.Practico.TestngSalesforce"></class>
        </classes>
    </test>

</suite>